<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dhl">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.CapturePotraitActivity"
            ></activity>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity android:name=".Activities.ViewAllMembersActivity" />
        <activity android:name=".Activities.ChangePasswordActivity" />
        <activity android:name=".Activities.EditAgentProfileActivity" />
        <activity android:name=".Activities.ProfileActivity" />
        <activity android:name=".Activities.Display_Member_Activity" />
        <activity android:name=".Activities.InventoryManagementActivity" />
        <activity android:name=".Activities.OrderTrackingActivity" />
        <activity android:name=".Activities.OrderStatusActivity" />
        <activity android:name=".Activities.OrderPlacementActivity" />
        <activity android:name=".Activities.CardStatusWornOut" />
        <activity android:name=".Activities.CardStatusStolen" />
        <activity android:name=".Activities.CardStatusLost" />
        <activity android:name=".Activities.ManageCardsActivity" />
        <activity android:name=".Activities.ProgressActivity" />
        <activity android:name=".Activities.SearchMembersActivity" />
        <activity android:name=".Activities.AgentLoginActivity" />
        <activity android:name=".AgentRegister" />
        <activity android:name=".barcode.BarCodeCaptureActivity" />
        <activity
            android:name=".Activities.AgentActivity"
            android:launchMode="singleTop" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />


        <activity android:name=".camera.Camera" />

        <activity android:name=".Activities.MainActivity">

        </activity>
    </application>

</manifest>